#cudy RE3000
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_re3000-v1=y
CONFIG_TARGET_PACKAGES_mediatek_filogic_DEVICE_cudy_re3000-v1=y
CONFIG_TARGET_PROFILE="DEVICE_cudy_re3000-v1"
CONFIG_TARGET_MULTI_PROFILE=n
CONFIG_TARGET_ALL_PROFILES=n
CONFIG_TARGET_PROFILE="DEVICE_cudy_re3000-v1"
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a53"
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe -mcpu=cortex-a53"

#kmod
#CONFIG_PACKAGE_kmod-tun=y

#MBEDTLS
CONFIG_PACKAGE_wpad-basic-mbedtls=n
#CONFIG_PACKAGE_wpad-mbedtls=y
#OpenSSL
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_OPENSSL_OPTIMIZE_SPEED=y

#servicesandtools
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_arp-scan=y
CONFIG_PACKAGE_bind-host=y
CONFIG_PACKAGE_irqbalance=y

#luci
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-app-watchcat=y

#mesh-batman
CONFIG_PACKAGE_luci-proto-batman-adv=y
CONFIG_PACKAGE_kmod-batman-adv=y
CONFIG_PACKAGE_batctl-full=y
CONFIG_BATMAN_ADV_BATMAN_V=y
CONFIG_BATMAN_ADV_BLA=n
CONFIG_BATMAN_ADV_DAT=y
CONFIG_BATMAN_ADV_MCAST=y

#Sonstiges
CONFIG_PACKAGE_luci-ssl=y
#CONFIG_PACKAGE_luci-app-statistics=y
